<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <title>E2E</title>
        <meta name="description" content="" />
        
        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!-- SweetAlert2 -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <!-- .shiftr.io -->
        <script src="https://assets.shiftr.io/js/mqtt-2.9.0.js"></script>

    </head>
    <body style="background-color: #e2f0fb">
    <nav class="navbar navbar-expand-lg navbar-dark text-white bg-primary">
  <a class="navbar-brand" href="#">End to End</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown active">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Actions
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#" onclick="activeDiv('registerForm')" disabled>Register device</a>
        <a class="dropdown-item" href="#" onclick="activeDiv('deviceList')"disabled >List devices/topics</a>
        <a class="dropdown-item" href="#"  onclick="Swal.fire({icon: 'success',title: 'You are listening all topics', showConfirmButton: false,timer: 2500});" disabled >Listen all topics</a>
    </div>
    </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" >Instructions</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-light my-2 my-sm-0" type="button" onclick="Swal.fire({
          icon: 'question',
          title: 'Do you need some help?',
          confirmButtonText: 'Understood!',
          html : '<b>Click on actions and select:</b></br>-Register a new device </br>-Get the list with devices </br>-Topics or listen all topics'
      } )">Help</button>
    </form>
  </div>
</nav>
        <div class="main">
        <div class="container">
        <h1 align="center" style="margin-top:25px;margin-bottom:50px">End to End</h1>
        <form action="/" method="POST">
        {% csrf_token %}
        <div class="form-group row justify-content-md-center"  >
        <h4> Incorrectly entered data  </h4><span>&#9785;</span>
        </div>
         <div class="form-group row justify-content-xl-center">
         <button type="submit" class="btn btn-danger" alignt="right">Back</button>
         <div>
        </form>
</body>



</html>